body {
    font-family: 'Nunito', sans-serif;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    
}

header {
    background-color: rgb(44, 71, 135);
    padding: 1em;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

p {
    font-family: 'monospace'
}

section {
    margin: 50px;
    
}

footer {
    background-color: rgb(44, 71, 135);
    color: #9fa803;
    text-align: center;
    padding: 0.0em;
    border-top: 1px solid;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.Send {
background: midnightblue;
color: white;
border-style: outset;
border-radius: 20px;
border-color: #15425c;
height: 40px;
width: 100px;
font: bold15px arial,sans-serif;
text-shadow: none;
}

.Send:hover {
background: rgb(69, 69, 201);
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}

#limpar {
background: midnightblue;
color: white;
border-style: outset;
border-radius: 20px;
border-color: #15425c;
height: 40px;
width: 100px;
font: bold15px arial,sans-serif;
text-shadow: none;
}

#limpar:hover {
background: rgb(69, 69, 201);
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}

img {
    border-radius: 40px;
    max-width: 50%;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

#total {
    background-color: #a4abdd;
    padding: 20px;
    border-radius: 10px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


section {
    margin: 50px;
    animation: fadeIn 2.0s ease-in-out; 
}

#myBtn {
background: midnightblue;
color: white;
border-style: outset;
border-radius: 20px;
border-color: #15425c;
height: 40px;
width: 50px;
font: bold15px arial,sans-serif;
text-shadow: none;
position: fixed;
}

#myBtn:hover {
background: rgb(69, 69, 201);
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}

@keyframes sendAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.iten-of-smosh {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out; 
}

.iten-of-smosh:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
}

article p {
    background-color: #293ce524;
    padding: 20px;
    border-radius: 10px;
}

.resumo {
    box-shadow: 0 4px 8px 0 rgba(81, 93, 185, 0.461);
}